{% load static %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top rounded-bottom mb-3">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/evalhub_wordmark.png' %}" alt="EvalHub" style="height: 36px; width: auto;">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="loggedInContent">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'surveys' %}">Surveys</a>
                    {% endif %}
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        Welcome{% if user.first_name %}, {{ user.first_name }}{% endif %}. <a href="{% url 'logout' %}">Log out</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Log in</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</div>
