{% load static %}

<div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light rounded-bottom mb-3">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/evalhub_wordmark.png' %}" alt="EvalHub" style="height: 36px; width: auto;">
        </a>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a href="{% url 'admin:index' %}">Admin</a>
                {% else %}
                    <a href="{% url 'evaluations' %}">Evaluations</a>
                {% endif %}
            {% endif %}
        </ul>
        <div class="ml-auto"></div>
        <span class="navbar-text">
            {% if user.is_authenticated %}
                Welcome{% if user.first_name %}, {{ user.first_name }}{% endif %}. <a href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'login' %}">Log in</a>
            {% endif %}
        </span>
    </nav>
</div>
